<div class="jumbotron" ng-controller="AboutCtrl">
	<button type="button" class="btn btn-warning" ng-click="cropdetails()"><a style="text-decoration:none;" ng-href="#/crops"> &nbsp &nbsp Crops &nbsp &nbsp</button>
	<br><br>
	<button type="button" class="btn btn-warning" ng-click="fertilizers()"><a style="text-decoration:none;" ng-href="#/Fertilizers"> &nbsp Fertilizers</a></button>
	<br><br><br>
	 <label>
       Type Message: 
       <input type="text" name="sms" ng-model="message">
    </label>
	<button type="button"  ng-click="submitmessage()">SUBMIT SMS</button>
</div>