<div class="jumbotron">
	<h4>Crops</h4>
	<br>
	
	 <table class="table">

    <tbody>
      <tr>
        <td><b>Crops</td>
        <td><b>Amount Available</td>
        <td><b>Details</td>
      </tr>
   
      <tr>
        <td>Rice</td>
        <td>10 Kg</td>
        <td><button type="button" class="btn-sm btn-primary"><a style="text-decoration:none; color:black;" ng-href="#/cropdetails"><b>Details</a></button></td>
      </tr>
     <tr>
        <td>Wheat</td>
        <td>20 Kg</td>
        <td><button type="button" class="btn-sm btn-primary"><a style="text-decoration:none; color:black;" ng-href="#/cropdetails"><b>Details</a></button></td>
      </tr>
    </tbody>
  </table>

</div>