<div class="jumbotron" ng-controller="SalesPointCtrl">
<button type="button"><a style="text-decoration:none;" ng-href="#/SubSalesPoint"> &nbsp &nbsp Sales Point's Requirements &nbsp &nbsp</a></button>
	<h4>Point Of Sale Details :</h4>

	<table class="table">
  
    <tbody>
      <tr>
        <td><b>Details of the Outlet</td>
        <td><b>Total credit to the Outlet</td>
        <td><b>Quantity of rice sold</td>
        <td><b>Quantity of pearl millet sold</b></td>
        <td><b>Quantity of red rice sold</b></td>
      </tr>

      <tr>
        <td>Sales point 1</td>
        <td> '</td>
        <td>X kg</td>
        <td>Y kg</td>
        <td>Z kg</td>
      </tr>
     
      <tr>
        <td>Sales point 2</td>
        <td> '</td>
        <td>M kg</td>
        <td>N kg</td>
        <td>R kg</td>
      </tr>
     
    </tbody>
  </table>
</div>