<div class="jumbotron" ng-controller="SubSalesPointCtrl">

	<h4>Sales Point member's requirements:</h4>

	<table class="table">
  
    <tbody>
      <tr>
        <td><b>Details of the Outlet</td>
       
        <td><b>Quantity of rice required</td>
        <td><b>Quantity of rice available</td>
        <td><b>Quantity of pearl millet required</b></td>
         <td><b>Quantity of pearl millet available</b></td>
        <td><b>Quantity of red rice required</b>
        </td>
        <td><b>Quantity of red rice available</b>
        </td>
      </tr>

      <tr>
        <td>Sales point 1</td>
        <td>X kg</td>
        <td>K kg</td>
        <td>Y kg</td>
        <td>D kg</td>
        <td>Z kg</td>
        <td>B kg</td>
      </tr>
     
      <tr>
        <td>Sales point 2</td>
       
        <td>M kg</td>
        <td>K kg</td>
        <td>N kg</td>
        <td>E kg</td>
        <td>R kg</td>
        <td>C kg</td>
      </tr>
     
    </tbody>
  </table>
</div>